/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
header {
    background-color: #171719fd;
    color: yellow; /* Text color for the header */
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    height: 50%;
    display: flex;
}

h1 {
    font-size: 1.5rem;
    font-weight: lighter;
}

header .logo {
    position: absolute;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    font-family: "Playfair Display", serif;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5); /* Change the alpha value (0.5) to adjust transparency */

}

header img {
    width: 100%;
    padding: 0; /* Adjust the padding as needed */
    margin: 0; /* Adjust the margin as needed */
    position: relative;
}

/* Hamburger Menu Styles */
.hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 2;
    display: block;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.5s;
}

/* Navigation Styles */
nav {
    background-color: #093346;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

nav a:hover {
    background-color: #171719fd;
    color: #fff;
}

  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
.active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    animation: dropdown-animation 3s ease forwards; /* Animation for the dropdown effect */
  }
  
  /* Define the dropdown animation */
  @keyframes dropdown-animation {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  .dropdown-toggle:focus + .dropdown-container {
    display: block;
  }
  
  





  

/* Sidebar Styles */
.sidebar {
    width: 250px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.sidebar span {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar span:hover {
    color: yellow;
    background-color: darkgray;
    cursor: pointer;
}


.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: yellow;
    background-color: darkgray;
}

/* Main Content Styles */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

/* Content Styles */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    margin-top: 20px;
}

.content h2 {
    font-size: 1.5rem;
    color: #333;
}

.content .main-topic {
    color: rgb(87, 87, 238);
    font-size: 1.2rem;
}

.example {
    margin-top: 15px;
}

.questions p {
    font-size: 1.25rem;
}

ul {
    list-style: none;
    padding: 0;
}

li a {
    text-decoration: none;
    position: relative;
    display: block;
    color: #333;
    transition: color 0.3s;
}



li a:hover {
    color: #007BFF;
}


.part1 .phrase_meaning{
    width: 95%;
}

.meaning{
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

h4 {
    font-size: 1.1rem;
    color: green;
}

.content .sub-topic {
    margin-top: 20px;
    border-bottom: 1px solid rgb(188, 181, 181);
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    color: Black;
}

.content .sub-topic ol li {
    font-weight: bold;
    margin-bottom: 8px;
    padding: 1rem;
}

h3 {
    font-size: 1.3rem;
}

ol li a {
    font-size: 1.3rem;
    padding: 0.5rem;
}

.audio-icon:hover {
    filter: brightness(100%); /* Adjust the brightness level as needed */
    transform: scale(1.3); /* Adjust the scale factor for the desired enlargement */
    cursor: pointer;
}

.audio-icon {
    transition: transform 0.2s ease; /* Adjust the duration and timing function as needed */
}

ol img {
    background-size: 20px 20px;
    content: '';
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-left: 6px;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: none;
}

.sub-topic img {
    background-size: 20px 20px;
    content: '';
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-left: 6px;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: none;
}

/* This is for the go to bottom */
/* Styling for the options button */
#options-container {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 140px;
    z-index: 99;
    /* height: 400px;
    overflow-y: scroll;
    */
}

#options-container.visible {
    display: block;
}

.option {
    padding: 10px;
    cursor: pointer;
    /* Add additional styling for the options */
}

#go-to {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: #d6cfcf;
    color: #111010;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid gray;
    width: 70px;
}

#go-to:hover {
    background-color: #000;
    color: white;
}

.option:hover {
    background-color: #ddd; /* Change the background color on hover */
    color: #333; /* Change the text color on hover */
}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease; /* Adjust the transition duration as needed */
}

.fade-out {
    opacity: 0;
}

.hidden {
    display: none;
}

#part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.part1 {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1.5px solid gray;
    padding: 10px;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    background-color: rgb(223, 245, 241);
    width: 100%;
}

.part1 ol{
    width: 95%;
}

.part1 ol li {
    font-size: 1.3rem;
    font-weight: lighter;
    margin-bottom: 10px;
}

.part1 ol p {
    font-size: 1.3rem;
    font-weight: lighter;
    margin-bottom: 10px;
}

.part1 ol li .word {
    font-size: 1.3rem;
    font-weight: bold;
    color: darkred;
}

.part1 ol li .text {
    font-size: 1.3rem;
    font-weight: lighter;
    margin-bottom: 10px;
}





p {
    /*text-indent: 10px;  Adjust the indentation value as needed */
    text-align: justify;
  }

.phrase{
    color: blue;
}

.part1 ol li .translation{
    font-size: 1.1rem;
    color: green;
}

.part1 ol .translate {
    list-style-type: circle;
    color: green; /* Set the color to green */
}

.languages {
    display: none;
}

.this{
    margin-bottom: 20px;
}








  

/* Footer Styles */
footer {
    background-color: rgb(21, 17, 17);
    padding: 20px 220px; /* Adjusted padding */
    text-align: center;
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap to the next line if necessary */
    justify-content: center; /* Add space between columns */
    align-items: center; /* Add space between columns */
}

/* Footer Column Styles */
.footer-column {
    flex: 1; /* Equal distribution of space among columns */
    text-align: left; /* Adjust text alignment within columns */
    margin-bottom: 20px; /* Add bottom margin to create space between columns */
}

.footer-column h3 {
    color: whitesmoke;
}

.footer-column p,
.footer-column ul {
    color: whitesmoke;
    margin-bottom: 5px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 5px;
}

.footer-column a {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s ease; /* Add transition for smooth color change */
}

/* Add hover effect for Quick Links */
.footer-column a:hover {
    color: #ff4500; /* Change the color on hover */
}

/* Social Media Links Styles */
.social-media-links li {
    margin-bottom: 0; /* Remove bottom margin for social media links */
}

.social-media-links a {
    color: #3b5998; /* Facebook color */
    transition: color 0.3s ease; /* Add transition for smooth color change */
}

/* Add hover effect for Facebook */
.social-media-links a:hover {
    color: #1877f2; /* Change the color on hover */
}

/* Copyright Section Styles */
.copyright {
    flex: 100%; /* Take up 100% width */
    text-align: center;
    color: #fff; /* Text color for copyright */
    background-color: #333; /* Dark grey background color */
    padding: 15px; /* Padding for text within the copyright section */
    width: 100%; /* Set width to 100% */
    box-sizing: border-box; /* Include padding in the width calculation */
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {


    #video-container {
        /* CSS properties to apply when container is toggled */
        height: 200px !important;
        width: 80%;
    }

    #video-container.newStyle {
        /* CSS properties to apply when container is toggled */
        height: 180px;
        width: 90%;
    }


    .part1 {
        padding: 0;
    }

    .A-container {
        padding: 0 !important;
        margin: 10px 0 10px 0 !important;
      }

    .transcript-line {
    display: inline-block;
    margin: 10px 10px 10px 10px; /* Increase the margin between transcript words */
    font-size: 15px !important; /* Adjust the font size */
    line-height: 1.5;
  }

  .transcript-line strong {
    font-size: 15px !important;
    }

    
    footer {
        padding: 10px;
    }

    /* Footer Styles */
    footer {
        padding: 20px 70px; /* Adjusted padding */
        display: flex;
        flex-wrap: wrap; /* Allow content to wrap to the next line if necessary */
        justify-content: space-between; /* Add space between columns */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content {
        max-width: 100%;
    }

    .heading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: none;
        padding: none;
    }
}

.highlight {
    background-color: yellow;
    /* Add any other styles to highlight the text */
}

/* Media Query for Smaller Screens (less than 600px) */
@media screen and (max-width: 768px) {

    
    .part1 ol li .text {
        font-size: 1rem;
        font-weight: lighter;
        margin-bottom: 10px;
    }
    
    
   
        
    ol li a {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    .sidebar {
        width: 0;
    }

    .sidebar a {
        text-align: center;
        padding: 1.5rem;
        display: block;
    }

    .main-content {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        flex: 1;
        padding: 0.8rem;
        border: 1px solid black;
    }

    .content {
        width: 95%;
    }

    h1 {
        font-size: 1rem;
    }

    header .logo {
        font-size: 1rem;
        margin-bottom: 0.9rem;
        top: 80%;
    }

    .hamburger {
        top: 0.75rem;
        right: 0.75rem;
    }

    .hamburger div {
        width: 1.25rem;
        height: 0.125rem;
        margin: 0.25rem 0;
    }

    nav a {
        font-size: 0.7rem;
    }

    

    nav .dropdown .dropbtn {
        font-size: 0.7rem;
        padding: 12px 10px;
        margin-right: 5px;
    
    }

    

    .sidebar {
        padding-top: 1.5rem;
    }

    .content {
        padding: 1rem;
    }

    .content h2 {
        font-size: 0.9rem;
        color: #333;
    }



    .content .sub-topic {
        font-size: 1rem;
        color: green;
        border-bottom: 1px solid rgb(188, 181, 181);
    }

    h3 {
        font-size: 1rem;
    }

    footer {
        padding: 1rem;
        font-size: 0.875rem;
        margin-top: 1rem;
    }

    .explanation {
        font-size: 0.9rem;
    }

    p img {
        background-size: 20px 20px;
        content: '';
        vertical-align: middle;
        width: 11px;
        height: 11px;
        margin-left: 6px;
        display: inline-block;
        background-repeat: no-repeat;
    }

    span img {
        background-size: 20px 20px;
        content: '';
        vertical-align: middle;
        width: 11px;
        height: 11px;
        margin-left: 6px;
        display: inline-block;
        background-repeat: no-repeat;
    }

    .phrases img {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .phrases ol li {
        font-size: 0.9rem;
    }

    li {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .strategies h3 {
        font-size: 1rem;
    }

    .criteria h3 {
        font-size: 1rem;
    }

    .part1 ol{
        padding-left: 20px;
        margin-bottom: none;
        width: 92%;
    }

    .part1 ol li::marker {
        font-size: 18px; /* Adjust the font size to change the size of the marker */
    }

    


    .part1 .phrase_meaning{
        width: 93%;
        padding-left: 30px;
        margin: 0;
    }

    .part1 ol li .word {
        font-size: 1rem;
        font-weight: bold;
        color: darkred;
    }

    .part1 ol li .meaning {
        font-size: 1rem;
        font-weight: bold;
        color: black;
    }


    .part1 ol p {
        font-size: 1rem;
        font-weight: lighter;
        margin-bottom: 10px;
    }

    .part1 ol li .translation{
        font-size: 0.9rem;
        color: green;
    }

    .transcript-line strong {
        font-size: 16px !important;
        }
  
        
 


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 90px;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 10px;


  }
    
}



/*-------- navbar dropdown ------------*/

  
 
  .dropdown{
    margin-top: 5px;
  }
  


  .dropdown .dropbtn {
    display: block;
    color: #fff;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #093346;
    border: 1px solid gray;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;



}

.dropdown .dropbtn:hover {
    background-color: #171719fd;
    color: #fff;
    cursor: pointer;
}



  
  .nav a:hover, .dropdown:hover .dropbtn {
    background-color: #171719fd;
    color: #fff;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 120px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 15px;

  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    margin-top: 0;
  }

  i{
    padding-left: 20px;
  }

 



  /* --------------------------edn of navbar -----------------------------------*/




  /* ----------- YouTube Video and Transcript Css-------*/
  #video-container {
    position: relative;
    box-shadow: 0px 0px 10px rgb(243, 241, 241);
    border-radius: 5px;
    height: 450px;
    width: 80%;
  }

  #video-container.newStyle {
    /* CSS properties to apply when container is toggled */
    height: 200px;
    width: 60%;
}

  #player{
    border-radius: 10px;
    border: 2px solid #E6E6FA;
    height: 100%;
    width: 100%;
  }


  .button-options {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  
  #transcript-container {
    width: 100%;
    white-space: normal;
    padding: 10px;
    overflow: hidden;
    line-height: 1.1;
  }
  
  .transcript-line {
    display: inline-block;
    margin: 10px 10px 10px 10px; /* Increase the margin between transcript words */
    font-size: 25px; /* Adjust the font size */
    font-style:normal;
    text-align:justify;
    line-height: 1.5;
  }

  .transcript-line strong {
    font-size: 23px;
    }
    
  
  /* Style the underline for the currently spoken text */
  .transcript-line span.underline {
  text-decoration: underline;
  
  }

  .A-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /*-- width: 100%;---*/
    padding: 5px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
  }

  .B-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    padding: 5px;
    padding-bottom: 20px;
    background-color: white;
    margin: 20px 10px 10px 10px;
    overflow-y: scroll;
    height: 500px;
    margin-bottom: 40px;
    border: 2px solid lightgray;
    border-radius: 10px;
  
  }


  .button-options {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  /* ------------ End of YouTube Video -------------------*/





  /*---- vocab_game -------*/

  .vocab_game{
    display: flex;
    flex-direction: column;
  }
  /*-----End of Vocab Game --------*/